div.title {
  margin-bottom: 2em;
}

.tag {
  display: inline-block;
  margin-right: 0.2em;
  margin-bottom: 0;
  border: 1px solid transparent;
  text-align: center;
  border-radius: 4px;
  border-radius: 6px;
  color: #fff;
  background-color: #782b90;
  border-color: #68257c;
  padding: 10px 16px;
  padding-right: 8px;
}

.remove {
  border-color: transparent !important;
  background: transparent !important;
  float: none;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
}

.tags-wrapper {
  margin-bottom: 15px;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 0.2;
}

button kbd {
  background: none;
  margin-left: 0.5em;
  box-shadow: none;
}

kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-advanced:active,
.btn-advanced:focus {
  outline: none;
}

.dropdown-menu-large {
  width: 400px;
}

.p-3 {
  padding: 16px;
}

.go-to-generate i,
.go-to-generate i:focus {
  right: 20px;
  bottom: 30px;
  width: 38px;
  height: 38px;
  z-index: 999;
  line-height: 1;
  font-size: 35px;
  position: fixed;
}

/*By default line-heigh is 1.33 and look like if not rounded the button-group items are not aligned*/
.fix-btn-lg > button.btn-lg {
  line-height: 1.4;
}
