name: "Set versions"
on:
  workflow_dispatch:
    inputs:
      stableVersion:
        description: 'Vert.x stable version, e.g 1.2.3'
        required: true
        type: string
      stableSnapshotVersion:
        description: 'Vert.x stable snapshot version, e.g. 1.2.4-SNAPSHOT'
        required: true
        type: string
jobs:
  Test:
    name: Run tests
    strategy:
      matrix:
        profile: [ generator-tests-jdk11,generator-tests-jdk17,generator-tests-jdk21,no-generator-tests ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: |
            11
            21
            17
      - uses: dcarbone/install-jq-action@v2
        with:
          version: '1.7'
          force: true
      - name: Set versions
        run: bash .gh.set-versions.bash $STABLE_VERSION $STABLE_SNAPSHOT_VERSION
        env:
          STABLE_VERSION: ${{ inputs.stableVersion }}
          STABLE_SNAPSHOT_VERSION: ${{ inputs.stableSnapshotVersion }}
      - name: Run tests
        run: mvn test -P ${{ matrix.profile }}
  Update-repo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: dcarbone/install-jq-action@v2
        with:
          version: '1.7'
          force: true
      - name: Set versions
        run: bash .gh.set-versions.bash $STABLE_VERSION $STABLE_SNAPSHOT_VERSION
        env:
          STABLE_VERSION: ${{ inputs.stableVersion }}
          STABLE_SNAPSHOT_VERSION: ${{ inputs.stableSnapshotVersion }}
      - name: Commit and push
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add src/main/resources/starter.json
          git commit -m "Update stable version to $STABLE_VERSION and stable snapshot version to $STABLE_SNAPSHOT_VERSION"
          git push
        env:
          STABLE_VERSION: ${{ inputs.stableVersion }}
          STABLE_SNAPSHOT_VERSION: ${{ inputs.stableSnapshotVersion }}
