name: "Set versions"
on:
  workflow_dispatch:
    inputs:
      oldStableVersion:
        description: 'Vert.x old stable version, e.g. 4.5.24'
        required: true
        type: string
      currentStableVersion:
        description: 'Vert.x current stable version, e.g. 5.0.7'
        required: true
        type: string
      snapshotVersion:
        description: 'Vert.x snapshot version, e.g. 5.0.8-SNAPSHOT'
        required: true
        type: string
jobs:
  Test:
    name: Run tests
    strategy:
      matrix:
        profile: [ generator-tests-jdk17,generator-tests-jdk21,generator-tests-jdk25,no-generator-tests ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: |
            17
            21
            25
      - uses: dcarbone/install-jq-action@v2
        with:
          version: '1.7'
          force: true
      - name: Set versions
        run: bash .gh.set-versions.bash $OLD_STABLE_VERSION $CURRENT_STABLE_VERSION $SNAPSHOT_VERSION
        env:
          OLD_STABLE_VERSION: ${{ inputs.oldStableVersion }}
          CURRENT_STABLE_VERSION: ${{ inputs.currentStableVersion }}
          SNAPSHOT_VERSION: ${{ inputs.snapshotVersion }}
      - name: Run tests
        run: mvn test -P ${{ matrix.profile }}
  Update-repo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: dcarbone/install-jq-action@v2
        with:
          version: '1.7'
          force: true
      - name: Set versions
        run: bash .gh.set-versions.bash $OLD_STABLE_VERSION $CURRENT_STABLE_VERSION $SNAPSHOT_VERSION
        env:
          OLD_STABLE_VERSION: ${{ inputs.oldStableVersion }}
          CURRENT_STABLE_VERSION: ${{ inputs.currentStableVersion }}
          SNAPSHOT_VERSION: ${{ inputs.snapshotVersion }}
      - name: Commit and push
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add src/main/resources/starter.json
          git commit -m "Update Vert.x versions to $OLD_STABLE_VERSION, $CURRENT_STABLE_VERSION and $SNAPSHOT_VERSION"
          git push
        env:
          OLD_STABLE_VERSION: ${{ inputs.oldStableVersion }}
          CURRENT_STABLE_VERSION: ${{ inputs.currentStableVersion }}
          SNAPSHOT_VERSION: ${{ inputs.snapshotVersion }}
